{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo - New Thing

{% endblock %}


{% block content %}

    <h1>New Thing</h1>

    <article>

        <form action="/add-thing" method="POST">
            <label>
                Name
                <input type="text" name="name" required">
            </label>

            <label>
                Price <strong>($)</strong>
                <input type="number" name="price" min="0" placeholder="1" required">
            </label>

            <button>Add Thing To List!</button>

        </form>

    </article>

{% endblock %}
