{% extends 'pages/base.jinja' %}

{% block title %}

    Flask and Turso DB Demo - Single Thing

{% endblock %}


{% block content %}

    <h1>Thing Details</h1>

    <article>
        <h3>{{thing.name}}</h3>
        <p>Price: ${{thing.price}}</p>



        <button id="deleteThing">Delete Item</button>


    </article>

    <a role="button" href="/">Back to List</a>


    <script>
        const button = document.getElementById("deleteThing");

        button.addEventListener("click", function () {
            const sure = confirm("Are you sure you want to delete {{thing.name}}?");
            if (sure) {
                window.location.href = "/delete/{{thing.id}}";
            }
        });
</script>


{% endblock %}
